doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Express app
    body 
        h1 Welcome to the Index Page
        a(href="/resourcedownload") Go to Resource Download
        h1 Express form
        form(method='post', action='/submit-form')
            input(type='text', name='name', placeholder='Your Name')
            input(type='submit', value='Submit')